
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  header{
    background-color: bisque;

  }
  .flex{
    display: flex;
  }
  .nav-div{
    background-color: bisque;
    
  }
  .nav-title{
    font-weight: bold;
    font-size: 2.5rem;
    color: #131313;
  }
  li a {
    text-decoration: none;
  }
  li{
    list-style: none;
    color: #424242;
    font-weight: 500px;
    font-size: 1.2rem;
  }
  .nav-nav{
      justify-content: space-around;
      align-items: center;
}
.nav-list {
  gap: 30px;

}
.nav-body{
  text-align: center;
}
.brand{
  font-weight: 700px;
  font-size: 4rem;
}
.p1{
  font-weight: 400px;
  font-size: 1rem;
}
.btn{
  max-width: 180px;
  height: 64px;
  border-radius: 8px;
  background-color: #ff900E;
  margin-bottom: 30px;
  border: none;
}
span{
  color: wheat;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px;
}
.img-size{
  max-width: 1340px;
  margin: 0 auto;
}
.img{
  width: 100%;
  margin-bottom: 20px;
}

main{
  max-width: 1340px;
}
.src{
  display: flex;
  margin: 50px auto;
  align-items: center; 
  justify-content: center;
}
.img-group{
 display: grid;
 grid-template-columns:repeat(2,1fr);
 gap: 20px;
}

.quick{
  max-width: 537px;
  border-radius: 8px;
  margin-left: 50px;
}
.s1{
  font-weight: 600px;
  font-size: 2.80rem;
  color: #727272;
}
.s2{
  font-weight: 600px;
  font-size: 2.80rem;
  color: #131313;
}
.s3{
  font-weight: 600px;
  font-size: 2.80rem;
  color: #FF900E;
}
.mg{
  max-width: 300px;
  border-radius: 8px;
}
@media screen and (max-width:586px) {
  .nav-list, .nav-nav, li{
    flex-direction: column;
    text-align: center;
  }  
  .src{
    flex-direction: column;
  }
  .img-group{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
  }
  .quick{
    text-align: center;
  }
}


